* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #00c0eb;
}

header {
    background-color: #383d58;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.cabecalho-imagem {
    width: 100px;
    /* Adjust as needed */
    height: auto;
    /* Maintain aspect ratio */
}

.cabecalho-lista {
    list-style-type: none;
}

.cabecalho-item {
    display: inline-block;
    margin-left: 20px;
    font-size: 20px;
}

.escola-imagem {
    width: 25%;
    height: auto;
    /* Maintain aspect ratio */
}

.escola {
    background-image: linear-gradient(#383d58, #00c0eb);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 20px;
    text-align: center;
}

.escola-titulo {
    margin-bottom: 20px;
}

.escola-conteudo {
    width: 50%;
}

footer {
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
}