* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f7f7f7;
    /* Light gray background */
}

header {
    background-color: #333;
    /* Dark gray background */
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.cabecalho-imagem {
    width: 100px;
    height: auto;
}

.cabecalho-lista {
    list-style-type: none;
}

.cabecalho-item {
    display: inline-block;
    margin-left: 20px;
    font-size: 20px;
}

.escola-imagem {
    width: 25%;
    height: auto;
}

.escola {
    background-image: linear-gradient(#333, #666);
    /* Dark gradient background */
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 20px;
    text-align: center;
}

.escola-titulo {
    margin-bottom: 20px;
}

.escola-conteudo {
    width: 50%;
}

footer {
    background-color: #333;
    /* Dark gray background */
    color: white;
    padding: 20px;
    text-align: center;
}